@use './fonts.scss';
@use "@picocss/pico/scss/pico" with (
  $enable-semantic-container: false,
  $enable-classes: true,
  $theme-color: "azure",
  $modules: (
    "content/code": false,
    "forms/input-color": false,
    "forms/input-date": false,
    "forms/input-file": false,
    "forms/input-range": false,
    "components/accordion": false,
    "components/card": false,
    "components/dropdown": false,
    "components/loading": false,
    "components/modal": false,
    "components/nav": false,
    "components/progress": false,
    "components/tooltip": false,
    "utilities/accessibility": false,
    "utilities/reduce-motion": false,
  ),
);

[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: rgba(244, 93, 44, 0.25);
  --pico-primary: #c76a00;
  --pico-primary-background: #d24317;
  --pico-primary-underline: rgba(189, 60, 19, 0.5);
  --pico-primary-hover: #942d0d;
  --pico-primary-hover-background: #bd3c13;
  --pico-primary-focus: #c76a00;
  --pico-primary-inverse: #fff;
}

body > main {
  padding: 0;
}
.bg-1 {
  background-image: linear-gradient(
    130deg,
    #c76a00 0%,
    hsl(33deg 73% 46%) 11%,
    hsl(35deg 61% 52%) 22%,
    hsl(37deg 60% 57%) 33%,
    hsl(40deg 59% 63%) 44%,
    hsl(42deg 58% 69%) 56%,
    hsl(46deg 56% 75%) 67%,
    hsl(49deg 56% 82%) 78%,
    hsl(54deg 60% 89%) 89%,
    hsl(60deg 100% 97%) 100%
  );
  opacity: 0.4;
}

.bg-2 {
  background: radial-gradient(circle at center bottom, #63baab, #ebf8e1, #f69d3c);
  opacity: 0.2;
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-height: 100vh;
}

.noise {
  background-repeat: repeat;
  background-size: 400px;
  opacity: 0.2;
}

header {
  padding: 10px;
  background-color: #f1dbbb;
  border-bottom: 1px solid #91795683;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  pointer-events: none;
  user-select: none;
}

.mdr {
  font-size: 1em;
  & > span:first-child {
    color: #7e2e00
  }
  & > span:nth-child(2) {
    color: #006b5f;
  }
  & > span:nth-child(3) {
    color: #63baab;
  }
}

html,body {
  height: 100vh;
}

footer {
  position: sticky;
  top: calc(100vh - 66px);
  background-color: #eaf0e5;
}